//Colors
  //Primary
$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

  //Neutral
$dark-grayish-magenta: hsl(303, 10%, 53%);
$light-grayish-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

//Typography
$Font_size: 15px;
$Font_family: "Spartan", sans-serif;


*,
*::before,
*::after{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
}
body{
  font-family: $Font_family;  
  font-size: $Font_size;  
  width: 100%;
  height: 100%;
  min-width: 375px;
  background-image: url(../images/bg-pattern-top-mobile.svg), 
                      url(../images/bg-pattern-bottom-mobile.svg);   
  background-repeat: no-repeat;           
  @media (min-width: 45em) {
    background-image: url(../images/bg-pattern-top-desktop.svg), 
                        url(../images/bg-pattern-bottom-desktop.svg);   
    background-position: 0 0, 20em 10em;  
    background-repeat: no-repeat;           
  }
}

main {
  margin: 5.5em 1.5em 0;
  @media (min-width: 71em) {
    margin: 8em 8em;  
    padding: 0 1.5em 0 2.5em;
  }
  @media (min-width:90em) {
    display: flex;
    flex-wrap: wrap;  
  }
}

header  {
  text-align: center;  
  @media (min-width: 90em) {
    width: 30em;
    flex: none;
    text-align: left;  
    margin: .67em 10em 0 0;
  }
  h1 {
    font-weight: 700;
    line-height: 1;
    color: $very-dark-magenta;    
    @media (min-width: 90em) {
      font-size: 3em;  
    }
  }   
  p {
    font-weight: 400;
    font-size: .98em;  
    padding: 2em 0 1em;  
    line-height: 1.8;
    color: $dark-grayish-magenta;
    @media (min-width: 90em) {
      padding-top: 1em;   
    }
  }
}

#rating {
  list-style-type: none;   
  text-align: center;  
  @media (min-width: 90em) {
    padding-top: 2em;  
    text-align: left;   
    width: 35em;
    flex: none;
  }
  li {
    line-height: 2;
    @media (min-width: 90em) {
      &:nth-child(1) {
        margin-right: 4em;  
      }
      &:nth-child(2) {
        margin-right: 2em;  
        margin-left: 2em;  
      }
      &:nth-child(3) {
        margin-left: 4em;  
      }
    }
    figure {
      padding: .7em;  
      margin: 1em .7em .7em;
      border-radius: .8em;  
      background-clip: padding-box;  
      background-color: $light-grayish-magenta;   
      img {
        padding: .25em;  
      }
      figcaption {
        font-weight: 700;
        color: $very-dark-magenta;
        @media (min-width: 90em) {
          display: inline;  
          margin-left: 2em;  
      }
      }
    }
  }
}

.reviews {
 list-style-type: none;   
 text-align: center;  
 margin-top: 3.5em;  
 @media (min-width: 70.75em) {
    display: flex;  
    flex-wrap: wrap;  
    justify-content: center;  
    margin-top: 1em;  
    padding-top: 2em;  
 }
 li {
   @media (min-width: 70.75em) {
     width: 25em;
     flex: none;
     &:nth-child(2) { 
       margin-top: 1em;  
       margin-left: .2em;  
     }
     &:nth-child(3) {
       margin-top: 2em;  
     }
   }
   article {
     padding: 2em;  
     margin: 1em .7em .7em;
     border-radius: 1em;   
     background-color: $very-dark-magenta;  
     height: 15em;
     img {
       float: left;  
       border-radius: 50%;  
     }
     h2 {
       font-weight: 700;
       color: $white;
       text-align: left;  
       padding: .2em 0 0 4em;
     }
     h3 {
       font-weight: 400;
       font-size: .8em;  
       color: $soft-pink;
       text-align: left;  
       padding: .4em 0 0 6em;
     }
     p {
       font-weight: 500;
       font-size: .84em;  
       clear: both;  
       text-align: left;  
       color: $white;
       padding-top: .2em;  
       margin-top: 2em;  
       line-height: 1.5;
       @media (min-width: 70.75em) {
         line-height: 2;
       }
     }
   }
 }
}

.attribution {
  font-size: 11px;
  text-align: center;
  align-self: center;  
  width: 100%;
  a {
    color: hsl(228, 45%, 44%);
  }
}
